<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="sb-nav-fixed" style="background:#b7b7b7">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">AsiloCabezaDeAlgodon</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>*@
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Correo Usuario</a></li>

                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("Cerrar_Sesion","LoginAdmin")">Cerrar secion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu" style="background:#00ffd8 ;color :black">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="color:black">Mantenimineto</div>
                        <a class="nav-link" href="@Url.Action("Paciente","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user"></i></div>
                            Paciente
                        </a>
                        <a class="nav-link" href="@Url.Action("PagoMensualidad","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-file-invoice-dollar"></i></div>
                            Pago Mensualidad
                        </a>
                        <a class="nav-link" href="@Url.Action("Donaciones","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-dollar-sign"></i></div>
                            Donaciones
                        </a>
                        <a class="nav-link" href="@Url.Action("GastoFundacion","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fa fa-credit-card " aria-hidden="true"></i></div>
                            Gastos de la fundacion
                        </a>
                        <a class="nav-link" href="@Url.Action("Usuarios","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fa fa-users"></i></div>
                            Usuarios
                        </a>
                        <a class="nav-link" href="@Url.Action("Medico","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fa fa-hospital-user"></i></div>
                            Medico
                        </a>
                        <a class="nav-link" href="@Url.Action("Especialidades","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user"></i></div>
                            Especialidades
                        </a>
                        <a class="nav-link" href="@Url.Action("Mes","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user"></i></div>
                            Meses de pago
                        </a>

                        <a class="nav-link" href="@Url.Action("Estado","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user"></i></div>
                            Estados de Cita
                        </a>
                        <a class="nav-link" href="@Url.Action("Especialistas","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user"></i></div>
                            Especialistas
                        </a>
                        <a class="nav-link" href="@Url.Action("Enfermeros","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-user-nurse"></i></div>
                            Enfermeros
                        </a>
                        <a class="nav-link" href="@Url.Action("Fundacion","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-hospital"></i></div>
                            Fundacion
                        </a>
                        <a class="nav-link" href="@Url.Action("Gastos","Mantenimiento")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-dollar-sign"></i></div>
                            Gastos
                        </a>

                        <div class="sb-sidenav-menu-heading" style="color:black">Reportes</div>
                        <a class="nav-link" href="@Url.Action("Medico","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-newspaper"></i></div>
                            Reporte 1
                        </a>
                        <a class="nav-link" href="@Url.Action("Medico","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fa fa-newspaper" aria-hidden="true"></i></div>
                            Reportes 2
                        </a>
                        <a class="nav-link" href="@Url.Action("Medico","Home")" style="color:black">
                            <div class="sb-nav-link-icon" style="color:black"><i class="fas fa-newspaper"></i></div>
                            Reporte 3
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Universidad Mario Galves:</div>
                    Ingenieria en sistemas
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">GersonST &copy; año 2022</div>
                        <div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>











    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
        <li>@Html.ActionLink("Contacto dsfdfs", "Paginatex", "Home")</li>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
