
@{
    ViewBag.Title = "GastoFundacion";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Solicitud","Home")">Fundacion</a></li>
    <li class="breadcrumb-item active">GastoFundacion</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de gastos 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-dark" onclick="abrilModal(null)">
                    <span class="fas fa-user"> </span>
                    Nuevo Gasto

                </button>
            </div>
        </div>
        <hr />

        <table id="usuario" class="display cell-borde" style="width:100%">
            <thead style="background-color:darkgray; color:black">
                <tr>
                    <th>No gasto</th>
                    <th>Fundacion</th>
                    <th>Gasto</th>
                    <th>Monto</th>
                    <th>Descripcion</th>
                    <th>Fecha de Registro</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#00ffff; color:black">
                <h5 class="modal-title" id="exampleModalLabel">Datos del gasto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: lemonchiffon">
                @*<div class="row g-1" style="background-color:gainsboro">*@

                <input id="txtid" type="hidden" value="0">
                @*; position: relative; left: 100px*@

            <div class="col-sm-6" style="background-color: lemonchiffon; left: 100px">

                <br />
                <label class="form-label">Seleccione la Fundacion</label>
                <select id="cboFundacion" class="form-control">
                </select>
                <br />
                <label class="form-label">Seleccione el gasto a registrar</label>
                <select id="cboGasto" class="form-control">
                </select>
                <br />

        






            </div>



                @*</div>*@
                <div class="row mt-2">
                    <div class="col-12" style="background-color:chartreuse">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer" style="background-color:lavender">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="position: relative; right: 175px">
                    <span>X </span>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" onclick="Guardar(); location.reload()"  style="position: relative; right: 165px">
                    <span class="fas fa-download"></span>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        var tabladata;
        var filaSeleccionada;

        function nostrar() {

               tabladata = $("#usuario").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
                 url: '@Url.Action("ListarGastosFundacion", "Home")',
                type: "GET",
                dataType: "json"

            },
                 "columns": [
                     { "data": "NoGasto" },
                     {

                         "data": "oFundacion", "render": function (data) {
                             return data.Nombre
                         }
                     },
                     {

                         "data": "oGastos", "render": function (data) {
                             return data.Nombre
                         }
                     },
                     { "data": "Monto" },
                     { "data": "Descripcion" },
                     { "data": "FechaRegistro" },


                {
                    "defaultContent": ' <button type="button" class="btn btn-outline-secondary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-outline-dark btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

                 ],
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                 }



             });


        }

           tabladata = $("#usuario").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
                 url: '@Url.Action("ListarGastosFundacion", "Home")',
                type: "GET",
                dataType: "json"

            },
                 "columns": [
                     { "data": "NoGasto" },
                     {

                         "data": "oFundacion", "render": function (data) {
                             return data.Nombre
                         }
                     },
                     {

                         "data": "oGastos", "render": function (data) {
                             return data.Nombre
                         }
                     },
                     { "data": "Monto" },
                     { "data": "Descripcion" },
                     { "data": "FechaRegistro" },


                {
                    "defaultContent": ' <button type="button" class="btn btn-outline-secondary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-outline-dark btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

                 ],
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                 }



             });







          jQuery.ajax({
            url: '@Url.Action("ListarFundacion", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
              success: function (data) {

                  console.log(data)

                  $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboFundacion");
                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdFundacion }).text(item.Nombre).appendTo("#cboFundacion");
                })
            },
            error: function (error) {
                console.log(error)
            }
          });

               jQuery.ajax({
            url: '@Url.Action("ListarGasto", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
              success: function (data) {

                  console.log(data)

                  $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboGasto");
                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdGasto }).text(item.Nombre).appendTo("#cboGasto");
                })
            },
            error: function (error) {
                console.log(error)
            }
          });





                @*jQuery.ajax({
            url: '@Url.Action("ListarEspecialidad", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
              success: function (data) {

                  console.log(data)

                  $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboespecialidad");
                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdEspecialidad }).text(item.Nombre).appendTo("#cboespecialidad");
                })
            },
            error: function (error) {
                console.log(error)
            }
        });*@







        function abrilModal(json) {
            //$("#txtid").val(0);





            $("#txtid").val(0);
            $("#cboFundacion").val($("#cboFundacion option:first").val());
            $("#cboGasto").val($("#cboGasto option:first").val());


            $("#mensajeError").hide();



            if (json != null) {
                $("#txtid").val(json.NoGasto);
                $("#cboFundacion").val(json.oFundacion.IdFundacion);
                $("#cboGasto").val(json.oGastos.IdGasto);




            }

            $("#FormUsuario").modal("show");
        }

        $("#usuario tbody").on("click", '.btn-editar', function () {


            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();
            console.log(data);
            abrilModal(data)




        })

        $("#usuario tbody").on("click", '.btn-eliminar', function () {

            var usuarioSeleccionado = $(this).closest("tr");

            var data = tabladata.row(usuarioSeleccionado).data();

            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar el gasto que se registro?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {

                      jQuery.ajax({
                   url: '@Url.Action("EliminarGastoFundacion", "Home")',
                          type: "POST",
                          data: JSON.stringify({ id: data.NoGasto }),
                   dataType: "json",
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {



                      if (data.resultado) {

                          tabladata.row(usuarioSeleccionado).remove().draw();
                     } else {

                           swal("No se pudo eliminar", data.mensaje, "error")
                       }
                  },
                   error: function (error) {
                   console.log(error)
                    }
               });




                });

            console.log(data)


        })


        function Guardar() {
            var GastosFundacion = {

                NoGasto: $("#txtid").val(),
                oFundacion: {
                    IdFundacion: $("#cboFundacion option:selected").val(),
                    Nombre: $("#cboFundacion option:selected").text()
                },

                oGastos: {
                    IdGasto: $("#cboGasto option:selected").val(),
                    Nombre: $("#cboGasto option:selected").text()
                }


            }
              jQuery.ajax({
                url: '@Url.Action("GuardarGastoFundacion", "Home")',
                  type: "POST",
                  data: JSON.stringify({ objeto: GastosFundacion }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");


                    //Usuario Nuevo
                    if (GastosFundacion.NoGasto == 0) {

                        if (data.resultado != 0) {

                            GastosFundacion.NoGasto = data.resultado;

                           
                            //tabladata.row.add(GastosFundacion).draw(false);

                            $("#FormUsuario").modal("hide");
                     
                        } else {
                            //$("#mensajeError").text(data.mensaje);
                            //$("#mensajeError").show();
                         
                        }

                        //Editar Usuario
                    } else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(GastosFundacion).draw(false);
                            filaSeleccionada = null;
                            $("#FormUsuario").modal("hide");
                        } else {
                            //$("#mensajeError").text(data.mensaje);
                            //$("#mensajeError").show();
                        }
                    }

                  },    
                  error: function (error) {
                      //$(".modal-body").LoadingOverlay("hide");
                      //$("#mensajeError").text("Error Ajax");
                      //$("#mensajeError").show();
                  
                  },
                  beforeSend: function () {
                      $(".modal-body").LoadingOverlay("show", {
                          imageResizeFactor: 2,
                          text: "Cargando...",
                          size: 14
                      })
                  }

            });


      









        }
    </script>


}




